
.battery-icon {
    display: inline-block;
    width: 48px;
    height: 24px;
    margin: 0;
}

.battery-icon .battery {
    fill: none;
    stroke-width: 10;
    stroke: #222;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.battery-icon .bolt,
.battery-icon .charge_limit {
    stroke: rgba(0,0,0, 0.8);
    stroke-width: 5px;
}


