
.battery-icon {
  display: inline-block;
  margin: 0;
}

/* These stroke widths should not be touched, might as well move them to code */
.battery-icon .battery {
  fill: none;
  stroke: #222;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.battery-icon .bolt,
.battery-icon .charge_limit {
  stroke: #222;
}


