.d3-chart {
    width: 100%;
    height: 600px;
}

.d3-chart .axis path,
.d3-chart .axis line {
    stroke: #999
}

.line {
    stroke: #333333;
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.line.charger_power {
    stroke: #e6574f;
    stroke-width: 2;
}

.line.battery_range {
    stroke-width: 2;
    stroke: #2a9de6;
    stroke-dasharray: 6px;

}

.line.battery_level {
    stroke-width: 2;
    stroke: #199f07;
}

.line.est_battery_range {
    stroke: #d885ff;
    stroke-width: 2;
    stroke-dasharray: 6px;

}



.line.charge_limit_soc {
    stroke: #00b32a;
}

.line.charge_limit_soc_min {
    stroke: #ee9b11;
}

.line.charge_limit_soc_std {
    stroke: #188007;
}




