.d3-chart {
    width: 100%;
    height: 600px;
}

.d3-chart .axis path,
.d3-chart .axis line {
    stroke: #999
}

.line {
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.line.charge-power {
    stroke: #e6574f;
}

.line.battery-range {
    stroke-width: 2;
    stroke: #2a9de6;
}

.line.charge_limit_soc {
    stroke: #00b32a;
}

.line.battery_level {
    stroke-width: 2;
    stroke: #1ec6c4;
}

.line.charge_limit_soc_min {
    stroke: #ee9b11;
}

.line.charge_limit_soc_std {
    stroke: #188007;
}




