.drive-chart {
    width: 100%;
    height: 600px;
}

.drive-chart .axis path,
.drive-chart .axis line {
    stroke: #999
}

.drive-chart .line {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/*.drive-chart .line.est_battery_range {*/
/*    stroke-width: 2;*/
/*    stroke: #2cade6;*/
/*}*/

/*.drive-chart .line.battery_level {*/
/*    stroke: #188007;*/
/*}*/

