.d3-chart {
}

.chart-container {
    display: inline-block;
}

.d3-chart .axis path,
.d3-chart .axis line {
    stroke: rgb(102,102,102)
}

.line {
    stroke: rgb(102,102,102);
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.line.charger_power {
    stroke: rgb(227, 25, 55);
    stroke-width: 2;
}

.line.battery_range {
    stroke-width: 2;
    stroke: #2a9de6;
    stroke-dasharray: 6px;

}

.line.battery_level {
    stroke-width: 2;
    stroke: #199f07;
}

.line.est_battery_range {
    stroke: #d885ff;
    stroke-width: 2;
    stroke-dasharray: 6px;

}


.line.charge_limit_soc {
    stroke: #00b32a;
}

.line.charge_limit_soc_min {
    stroke: #ee9b11;
}

.line.charge_limit_soc_std {
    stroke: #188007;
}




.chart-legend {
    background: #3f6ae1;
    display: inline-flex;
    flex: max-content;

}
