.home {
  a {
    display: inline-block;
    width: 140px;
    border-radius: 12px;
    border: 1px solid #333;
    text-decoration: none;
    text-align: center;
    margin: 10px 5px;
    padding: 10px 2px;
    color: #333;
  }
}
