.product-list {
  border-bottom: 1px solid #f4f4f4;
  box-shadow: 1px 2px 3px rgba(111, 113, 114, 0.3);

  button.toggle {
    float: right;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-top: 20px solid #222222;

  }




  .list-item {
    border: none;
    display: inline-block;
    margin: 2px 0 0 2px;
    font-weight: 400;
    box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.2);
    height: 100px;
    width: 360px;
    color: #222222;
    transition-duration: 300ms;
    padding: 10px;

    .name {
      padding: 0 2px;
    }

    .battery_level span {
      font-size: 21px;
      line-height: 21px;
      vertical-align: top;
      padding: 0 0 0 2px;
    }

    &:hover {
      transition-duration: 150ms;
      box-shadow: 1px 2px 4px rgba(102, 102, 102, 0.2);
      transform: translate3d(1px, -1px, 3px);
    }

    &:active {
      transform: translate(-1px, 1px);
    }

    &.red_pinwheel18 {
      background: url('/static/images/tm3_red_pinwheel18.png') #f7f7f7;
      background-size: 160px;
      background-repeat: no-repeat;
      background-position: 215px 25px;
    }
  }

  .add-more {
    margin-left: 40px;
    padding-bottom: 6px;
    text-decoration: none;
    vertical-align: bottom;
    &:visited {
      color: inherit;
    }
    &:hover {
      text-shadow: 0.5px 0.5px 1px #555555;
    }
  }


  &.collapsed {
    height: 32px;
    overflow: hidden;

    .list-item {

      .name {
        font-size: 60%;
      }
    }
  }
}

.better {
  color: #199f07;
}

.worse {
  color: rgb(227, 25, 55);
}
