.account {
    width: 400px;
    margin: 40px auto;

    h3 {
        text-align: center;
    }

    form {
        margin: 20px;
        input {
            display: block;
            line-height: 24px;
            border-radius: 4px;
            margin: 6px;
            width: 320px;
        }

        button {
            line-height: 24px;
            border-radius: 12px;
            width: 160px;
            margin: 4px;
        }
    }
}
