.product-list {
    border-bottom: 1px solid #f4f4f4;
    box-shadow: 1px 2px 3px rgba(111,113,114, 0.3);
}

.product-list .list-item {
    background: #f7f7f7;
    width: 320px;
    padding: 6px;
    border: none;
    margin: 6px;
}
