
.app .header {
  background-color: #333333;
  text-transform: uppercase;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  line-height: 50px;
  color: white;
}

a {
  color: #61dafb;
}


